:root {
    --white: #fff;
    --blue: #686de0;
    --pink: #ff7979;
    --apple: #6ab04c;
    --ice: #c7ecee;
    --indigo: #30336b;
    --silver:#95afc0;
    --greenland: #22a6b3;

    /* zmienne funkcyjne */
    --nav-height: 100px; /* zmienna określająca wysokość paska */
    --brand-img-max-width: 64px; /* maksymalna szerokość obrazka brand */
}

/* css boilerplate */

body {
    background-color: var(--indigo);
    font-family: "Rubik";
    margin: 0;
    padding: 0;
}

header.navbar-header {
    display: flex;
}

img.brand-img {
    max-width: 50px;
}

nav {
    padding-top: 4px;
}

nav > ul > li {
    display: inline;
    list-style: none;
}

a.nav-button {
    text-decoration: none;
}

a {
    color: var(--indigo);
}

li a:hover {
    color: var(--blue);
}

div.full-size-container {
    background: var(--pink);
    max-width: 100%;
}

ul.navigation-list {
    padding-left: 0;
    padding-right: 0;
}

header > div.brand > img {
    display: block;
}

header ul {
    display: flex;
    flex-flow: row wrap;
}

/* RESPONSIVENESS */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header.navbar-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
        padding: 10px 0 10px 0;
    }

    header ul li {
        padding: 0 1.2em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header.navbar-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 768px;
        padding: 10px 0 10px 0;
    }

    header ul li {
        padding: 0 1.2em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header.navbar-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 650px;
        padding: 10px 0 10px 0;
    }

    header ul li {
        padding: 0 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    header.navbar-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 550px;
        padding: 10px 0 10px 0;
    }

    header ul li {
        padding: 0 1em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    header.navbar-header {
        display: flex;
        flex-direction: column;
    }

    header > div.brand {
        margin: 0 auto;
        padding: 10px 0 0 0;
    }

    nav {
        margin: 0 auto;
    }

    header ul li {
        font-size: 0.9em;
        padding: 0 0.3em;
    }
}

/* TO DO 
** ujednolicić reguły dla responsywności,
** 

*/